build
node_modules
.eslintcache
.vscode
.idea

# .npmrc is generated inline by the release GitHub action, and then deliberately not committed
# because the contents of the file (specifically the NPM_TOKEN variable reference) cause the
# codebuild job for this repo to fail.
.npmrc
dist

docs/architecture/.structurizr
docs/schema

# Ignore top level core and common directories
/common/
/core/
/summary

coverage/

# SWC cache
.swc/

packages/e2e-test/cucumber
