# From .gitignore

.env
build
node_modules
.eslintcache
.npmrc

# Things we don't need

src/
api/
conductor/
tests/
test-data/
environment/
build/
data/
scripts/
docs/
.github/
.circleci/
.husky/
.webpack/
.eslintrc.js
.gitignore
.nvmrc
.prettierrc
.editorconfig
.dockerignore
build.js
build.package.js
buildspec.yml
jest.config.js
tsconfig.json
tsconfig.eslint.json
