services:
  worker:
    build:
      context: ..
      dockerfile: ./packages/conductor/Dockerfile
    environment:
      S3_REGION: eu-west-2
      CONDUCTOR_URL: http://conductor:4000/api
      CONDUCTOR_USERNAME: ${DEFAULT_USER}
      CONDUCTOR_PASSWORD: ${DEFAULT_PASSWORD}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_SECURITY_TOKEN: ${AWS_SECURITY_TOKEN}
      S3_AWS_ACCESS_KEY_ID: FAKE
      S3_AWS_SECRET_ACCESS_KEY: FAKE
      S3_ENDPOINT: http://localstack:4566
      INCOMING_BUCKET_NAME: incoming-messages
      TASK_DATA_BUCKET_NAME: conductor-task-data
      MQ_USER: ${DEFAULT_USER}
      MQ_AUTH: '{"username": "${DEFAULT_USER}", "password": "${DEFAULT_PASSWORD}"}'
      MQ_URL: failover:(stomp://activemq:61613)
      AUDIT_LOG_API_URL: https://api:9443
      AUDIT_LOG_API_KEY: super_secret_key
      AUDIT_LOG_USE_JWT: ${AUDIT_LOG_USE_JWT}
      AUDIT_LOG_API_BASE_PATH: v1/audit-logs
      AUTH_JWT_SECRET: ${AUTH_JWT_SECRET}
      DB_HOST: postgres
      PNC_API_URL: https://bichard7-liberty:9443/bichard-api/pnc
      PNC_API_KEY: ${PNC_API_KEY}
      PHASE2_CORE_CANARY_RATIO: ${PHASE2_CORE_CANARY_RATIO:-1}
      PHASE3_CORE_CANARY_RATIO: ${PHASE3_CORE_CANARY_RATIO:-1}
      PHASE_2_QUEUE_NAME: ${PHASE_2_QUEUE_NAME:-HEARING_OUTCOME_PNC_UPDATE_QUEUE}
      PHASE_3_QUEUE_NAME: ${PHASE_3_QUEUE_NAME:-PNC_UPDATE_REQUEST_QUEUE}
      NODE_ENV: ${NODE_ENV:-test}
      SMTP_HOST: mail
      SMTP_USER: ${DEFAULT_USER}
      SMTP_PASSWORD: ${DEFAULT_PASSWORD}
      SMTP_PORT: 1025
      SMTP_TLS: "false"
      SMTP_DEBUG: "true"
      USE_LEDS: ${USE_LEDS:-false}
    depends_on:
      audit-log-api:
        condition: service_healthy
      api:
        condition: service_healthy

  conductor:
    depends_on:
      postgres:
        condition: service_healthy
      localstack:
        condition: service_healthy
      worker:
        condition: service_started
      leds:
        condition: service_started
