version: "3.2"
services:
  worker:
    build:
      context: ..
      dockerfile: conductor/Dockerfile
    environment:
      PHASE1_COMPARISON_TABLE_NAME: bichard-7-production-comparison-log
      PHASE2_COMPARISON_TABLE_NAME: bichard-7-production-phase2-comparison-log
      PHASE3_COMPARISON_TABLE_NAME: bichard-7-production-phase3-comparison-log
      COMPARISON_BUCKET: comparisons
      DYNAMO_REGION: eu-west-2
      DYNAMO_URL: http://localstack:4566
      S3_REGION: eu-west-2
      CONDUCTOR_URL: http://conductor:4000/api
      CONDUCTOR_USERNAME: ${DEFAULT_USER}
      CONDUCTOR_PASSWORD: ${DEFAULT_PASSWORD}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_SECURITY_TOKEN: ${AWS_SECURITY_TOKEN}
      DYNAMO_AWS_ACCESS_KEY_ID: FAKE
      DYNAMO_AWS_SECRET_ACCESS_KEY: FAKE
      S3_AWS_ACCESS_KEY_ID: FAKE
      S3_AWS_SECRET_ACCESS_KEY: FAKE
      S3_ENDPOINT: http://localstack:4566
      PHASE1_BUCKET_NAME: phase1
      MQ_USER: ${DEFAULT_USER}
      MQ_PASSWORD: ${DEFAULT_PASSWORD}
      MQ_URL: failover:(stomp://activemq:61613)
      AUDIT_LOG_API_URL: http://audit-log-api:5000
      AUDIT_LOG_API_KEY: toBeSet
      DB_HOST: postgres
      PNC_API_URL: https://bichard7-liberty:9443/bichard-api/pnc
      PNC_API_KEY: ${PNC_API_KEY}
      NODE_ENV: ${NODE_ENV:-test}
    depends_on:
      audit-log-api:
        condition: service_healthy

  conductor:
    depends_on:
      postgres:
        condition: service_healthy
      localstack:
        condition: service_healthy
      worker:
        condition: service_started
