version: 2.1

commands:
  fetch_docker_image:
    parameters:
      image:
        type: string
    steps:
      - run:
          name: Fetch the <<parameters.image>> image
          command: bash scripts/fetch-docker-image.sh <<parameters.image>>

  checkout_and_install:
    description: Check out the repo and install the node dependencies
    steps:
      - checkout
      - run:
          name: Hash package-lock.json
          command: bash .circleci/scripts/hash-package-lock.sh
      - restore_cache:
          name: Load node_modules from the cache if they haven't changed
          keys:
            - v1-npm-deps-{{ checksum "package-lock.json.md5" }}
            - v1-npm-deps-
      - run:
          name: Install npm dependencies
          command: npm i
      - save_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json.md5" }}
          paths: node_modules

jobs:
  build:
    machine:
      image: ubuntu-2204:2022.10.2
    resource_class: xlarge
    working_directory: ~
    steps:
      - checkout_and_install
      - run:
          name: Check the code for linting errors
          command: npm run lint
      - run:
          name: Build the code
          command: npm run build
      - persist_to_workspace:
          root: .
          paths: build

  test:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    working_directory: ~
    steps:
      - checkout_and_install
      - attach_workspace:
          at: .
      - run:
          name: Run PostgreSQL
          command: npm run postgres
      - run:
          name: Run ActiveMQ
          command: npm run activemq
      - run:
          name: Install Nodejs version in .nvmrc
          command: nvm install
      - run:
          name: Run unit tests against core code
          command: nvm use && npm run test:unit
      - run:
          name: Run integration tests against core code
          command: nvm use && npm run test:integration

  comparison_test:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    working_directory: ~
    steps:
      - checkout_and_install
      - attach_workspace:
          at: .
      - run:
          name: Run integration tests against core code
          command: npm run test:compare

  characterisation_test:
    docker:
      - image: cimg/node:16.13.1
    resource_class: xlarge
    working_directory: ~
    steps:
      - checkout_and_install
      - attach_workspace:
          at: .
      - run:
          name: Checkout the tests repo
          command: git clone --depth 1 https://github.com/ministryofjustice/bichard7-next-tests.git ~/bichard7-next-tests
      - run:
          name: Start the test server in the background
          command: npm run test:server
          background: true
      - run:
          name: Wait for Core
          # The version of wait-port is pinned here because version 1.0.0
          # has a breaking change that makes it die when the port is not open
          command: npx -y wait-port@0.3.1 6000
      - run:
          name: Create a hash of the package lock
          command: md5sum ~/bichard7-next-tests/package-lock.json > ~/bichard7-next-tests/package-lock.json.md5
      - restore_cache:
          name: Load node_modules from the cache if they haven't changed
          keys:
            - test-deps-{{ checksum "~/bichard7-next-tests/package-lock.json.md5" }}
      - run:
          name: NPM install the tests repo
          command: cd ~/bichard7-next-tests && npm i
      - save_cache:
          key: test-deps-{{ checksum "~/bichard7-next-tests/package-lock.json.md5" }}
          paths: ~/bichard7-next-tests/node_modules
      - run:
          name: Run tests against core code
          command: cd ~/bichard7-next-tests && npm run test:characterisation

  conductor_test:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    resource_class: xlarge
    working_directory: ~
    steps:
      - checkout_and_install
      - attach_workspace:
          at: .
      - fetch_docker_image:
          image: conductor
      - fetch_docker_image:
          image: nodejs
      - run:
          name: Boot Conductor infrastructure
          command: npm run conductor
      - run:
          name: Set up Conductor
          command: npm run conductor-setup
      - run:
          name: Test the workflows
          command: npm run test:conductor

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - characterisation_test:
          requires:
            - build
      - comparison_test:
          requires:
            - build
      - conductor_test:
          requires:
            - build
