[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
dash = "*"
pandas = "*"
psycopg2 = "*"
boto3 = "*"
openpyxl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
