@import "variables";

html {
  font-family: $b7-font-family;
  font-size: $b7-default-font-size;
  color: $b7-black-color;
}

.hidden-header {
  position: fixed;
  left: -100vw;
  top: -100vh;
}

tr td {
  font-size: $b7-default-font-size;
}

.cases-list {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;

  tbody {
    td {
      border-color: $b7-row-border-color;
      vertical-align: top;
    }

    td[rowspan] {
      border-bottom: 1px solid $b7-row-border-color !important;
    }

    tr:not(:last-child) td {
      border-bottom: none;
    }
  }

  tbody:nth-child(odd) {
    tr {
      background-color: $b7-light-grey-color;
    }
  }

  // stylelint-disable no-descending-specificity -- error thrown regardless of order
  .note-preview-row {
    td {
      padding-top: 0;
    }
  }
}

// stylelint-disable selector-class-pattern
.govuk-frontend-supported .govuk-tabs__list-item {
  background-color: $b7-light-grey-color;

  &.govuk-tabs__list-item--selected {
    background-color: $b7-white-color;
  }
}
