$b7-font-family: 'GDS Transport';
$b7-default-font-size: 19px;
$b7-landscape-tablet-width: 768px;
$b7-light-grey-color: #DDD;
$b7-dark-grey-color: #b1b4b6;
$b7-border-input: #0B0B0C;
$b7-row-border-color: #505A5F;
$b7-white-color: #FAFAFA;

:root {
    --border-input: $b7-border-input;
}
